In [28]:
import pandas as pd
from datetime import datetime

In [3]:
df = pd.read_csv(r"C:\Users\chavs\Downloads\Bases de datos del curso\fifa_eda.csv")

In [4]:
print("Muestra de 20 líneas:")
print(df.sample(20))

Muestra de 20 líneas:
           ID          Name  Age    Nationality  Overall  Potential  \
17304  229398    H. McKirdy   21       Scotland       54         67
639    200155    H. Vanaken   25        Belgium       79         81
12684  208543   C. Howieson   23    New Zealand       63         68
14991  239496      Y. Fekir   21         France       60         72
12321  244545      Valdu Té   20  Guinea Bissau       63         71
3960   215294   C. Menéndez   30      Argentina       72         72
11690  239018         Junio   21         Brazil       64         74
6145   236170  Ever Sineiro   30         Brazil       69         69
9265   229742     H. Alpsoy   21         Turkey       66         77
4324   202356      Z. Erdal   30         Turkey       71         71
12806  229819     M. Rasner   23        Austria       63         67
11971  220650   M. Lorenzen   23         Uganda       64         70
10333  219746     D. Torres   25          Chile       65         68
716    157301      R. Babel   31    Netherlands       79         79
7348   233911         Matos   23          Spain       68         75
15625  239269     L. Ndenbe   18        Belgium       59         74
14407  192674       Leandro   29          Spain       61         63
10494  229259   Dani Suárez   28          Spain       65         65
484    195861  Y. Rakitskyi   28        Ukraine       80         80
14680  243468    A. Balanta   18       Colombia       60         80

                              Club    Value  Wage Preferred Foot  \
17304                  Aston Villa    130.0   2.0          Right
639                 Club Brugge KV  15500.0  27.0          Right
12684                          NaN      NaN   0.0           Left
14991           Olympique Lyonnais    375.0   6.0          Right
12321           Vitória de Setúbal    550.0   1.0          Right
3960   Tiburones Rojos de Veracruz   3000.0   8.0          Right
11690                   Rio Ave FC    625.0   4.0          Right
6145                      Cruzeiro   1000.0  13.0          Right
9265                   Antalyaspor    975.0   4.0          Right
4324                     Sivasspor   1700.0   9.0           Left
12806               SKN St. Pölten    475.0   3.0          Right
11971                 ADO Den Haag    625.0   2.0          Right
10333                 CD Palestino    550.0   1.0           Left
716                    Beşiktaş JK  11000.0  55.0          Right
7348                      Cádiz CF   1100.0   4.0           Left
15625                  KV Oostende    290.0   1.0           Left
14407                 RCD Mallorca    200.0   1.0           Left
10494                Górnik Zabrze    450.0   2.0          Right
484               Shakhtar Donetsk  12000.0   1.0           Left
14680               Deportivo Cali    375.0   1.0          Right

       International Reputation  Skill Moves Position  Joined  \
17304                       1.0          3.0       ST    2015
639                         1.0          4.0      CAM    2015
12684                       1.0          3.0       CM    2016
14991                       1.0          3.0       LW    2017
12321                       1.0          2.0       ST    2016
3960                        1.0          3.0       ST    2017
11690                       1.0          2.0       RB    2016
6145                        1.0          3.0      CAM    2018
9265                        1.0          2.0      CDM    2017
4324                        1.0          2.0       LB    2010
12806                       1.0          3.0       LM    2017
11971                       1.0          3.0       LW    2017
10333                       1.0          3.0       LB    2012
716                         3.0          4.0       LM    2017
7348                        1.0          2.0       LB    2018
15625                       1.0          2.0       LB    2017
14407                       1.0          1.0       GK    2018
10494                       1.0          2.0      RCB    2017
484                         2.0          3.0      LCB    2009
14680                       1.0          2.0      CDM    2017

      Contract Valid Until    Height  Weight  Release Clause
17304           2019-01-01  5.583333   148.0      328.000000
639             2020-01-01  6.416667   176.0    24400.000000
12684                  NaN  5.916667   172.0     4585.060806
14991           2020-01-01  5.583333   143.0      788.000000
12321           2021-01-01  6.166667   176.0     1300.000000
3960            2023-01-01  6.083333   176.0     5000.000000
11690           2019-06-30  6.000000   165.0     4585.060806
6145            2021-01-01  5.500000   132.0     1900.000000
9265            2021-01-01  6.083333   172.0     2100.000000
4324            2020-01-01  6.000000   161.0     3400.000000
12806           2023-01-01  5.833333   159.0      724.000000
11971           2019-01-01  6.166667   190.0     1100.000000
10333           2018-01-01  5.750000   154.0      784.000000
716             2019-01-01  6.083333   187.0    20900.000000
7348            2021-01-01  5.500000   150.0     1900.000000
15625           2020-01-01  5.583333   163.0      616.000000
14407           2020-01-01  6.083333   181.0      325.000000
10494           2019-01-01  6.166667   190.0      608.000000
484             2022-01-01  6.083333   183.0    25200.000000
14680           2021-01-01  5.833333   159.0      900.000000

In [5]:
cols_to_convert = ['Value', 'Wage', 'Release Clause']  

def convert_to_numeric(value):
    if isinstance(value, str):
        value = value.replace('€', '').replace('K', 'e3').replace('M', 'e6')
        try:
            return float(eval(value))
        except:
            return None
    return value

for col in cols_to_convert:
    df[col] = df[col].map(convert_to_numeric)

In [6]:
print("\nEstadísticas generales:")
print(df[['Overall', 'Potential']].agg(['mean', 'min', 'max']))

print("\nEstadísticas por país:")
print(df.groupby('Nationality')[['Overall', 'Potential']].agg(['mean', 'min', 'max']))

Estadísticas generales:
        Overall  Potential
mean  66.238699  71.307299
min   46.000000  48.000000
max   94.000000  95.000000

Estadísticas por país:
               Overall          Potential
                  mean min max       mean min max
Nationality
Afghanistan  61.000000  59  63  67.750000  64  71
Albania      65.925000  52  81  71.700000  62  86
Algeria      70.633333  58  85  72.983333  62  85
Andorra      62.000000  62  62  64.000000  64  64
Angola       67.600000  60  78  71.533333  64  82
...                ...  ..  ..        ...  ..  ..
Uzbekistan   67.500000  60  75  67.500000  60  75
Venezuela    67.268657  53  81  73.149254  55  84
Wales        64.139535  47  88  69.968992  56  88
Zambia       65.222222  56  73  73.777778  66  83
Zimbabwe     69.769231  64  78  72.461538  66  83

[164 rows x 6 columns]

In [7]:
new_players = pd.DataFrame([
    {"ID": 999991, "Name": "Salvador Pantoja R", "Age": 22, "Nationality": "Mexico", "Overall": 85, "Potential": 90, "Club": "Tigres UANL", "Value": 55, "Wage": 1, "Release Clause": 80, "Joined": 2018, "Position": "ST"},
    {"ID": 999992, "Name": "Arthur Gonzalez Maxi", "Age": 24, "Nationality": "Chile", "Overall": 78, "Potential": 83, "Club": "Colo-Colo", "Value": 48, "Wage": 1, "Release Clause": 50, "Joined": 2019, "Position": "CM"}
])
df = pd.concat([df, new_players], ignore_index=True)

print("\nÚltimas filas con jugadores ficticios:")
print(df.tail())

Últimas filas con jugadores ficticios:
           ID                  Name  Age Nationality  Overall  Potential  \
18204  241638             B. Worman   16     England       47         67
18205  246268        D. Walker-Rice   17     England       47         66
18206  246269             G. Nugent   16     England       46         66
18207  999991    Salvador Pantoja R   22      Mexico       85         90
18208  999992  Arthur Gonzalez Maxi   24       Chile       78         83

                   Club  Value  Wage Preferred Foot  International Reputation  \
18204  Cambridge United   60.0   1.0          Right                       1.0
18205   Tranmere Rovers   60.0   1.0          Right                       1.0
18206   Tranmere Rovers   60.0   1.0          Right                       1.0
18207       Tigres UANL   55.0   1.0            NaN                       NaN
18208         Colo-Colo   48.0   1.0            NaN                       NaN

       Skill Moves Position  Joined Contract Valid Until    Height  Weight  \
18204          2.0       ST    2017           2021-01-01  5.666667   148.0
18205          2.0       RW    2018           2019-01-01  5.833333   154.0
18206          2.0       CM    2018           2019-01-01  5.833333   176.0
18207          NaN       ST    2018                  NaN       NaN     NaN
18208          NaN       CM    2019                  NaN       NaN     NaN

       Release Clause
18204           165.0
18205           143.0
18206           165.0
18207            80.0
18208            50.0

In [8]:
print("\nNuevas estadísticas generales:")
print(df[['Overall', 'Potential']].agg(['mean', 'min', 'max']))

Nuevas estadísticas generales:
        Overall  Potential
mean  66.240376  71.308968
min   46.000000  48.000000
max   94.000000  95.000000

In [29]:
import pytz

claves_paises = {
    "Mexico": "MX", "Chile": "CL", "Argentina": "AR", "Portugal": "PT", "Brazil": "BR",
    "Spain": "ES", "Belgium": "BE", "France": "FR", "Germany": "DE", "Italy": "IT",
    "England": "GB", "Netherlands": "NL", "Colombia": "CO", "Uruguay": "UY", "Switzerland": "CH",
    "United States": "US", "Canada": "CA", "Japan": "JP", "South Korea": "KR"
}

df['País'] = df['Nationality'].map(claves_paises).fillna("Unknown")

df['ZonaHoraria'] = df['País'].apply(lambda x: pytz.country_timezones.get(x, ["Unknown"])[0] if x != "Unknown" else "Unknown")
df['NombrePaís'] = df['País'].apply(lambda x: pytz.country_names.get(x, "Unknown") if x != "Unknown" else "Unknown")

print("\nPrimeras filas con zona horaria y nombre del país:")
print(df[['Name','Age','Nationality', 'ZonaHoraria', 'NombrePaís']].head())

Primeras filas con zona horaria y nombre del país:
                Name  Age Nationality                     ZonaHoraria  \
0           L. Messi   31   Argentina  America/Argentina/Buenos_Aires
1  Cristiano Ronaldo   33    Portugal                   Europe/Lisbon
2          Neymar Jr   26      Brazil                 America/Noronha
3             De Gea   27       Spain                   Europe/Madrid
4       K. De Bruyne   27     Belgium                 Europe/Brussels

  NombrePaís
0  Argentina
1   Portugal
2     Brazil
3      Spain
4    Belgium

In [30]:
df['BallonDor'] = df['Potential'].apply(lambda x: "Candidato" if x > 85 else "Next Year")

print("\nPrimeras filas con clasificación Balón de Oro:")
print(df[['Name', 'Potential', 'BallonDor']].head())

Primeras filas con clasificación Balón de Oro:
                Name  Potential  BallonDor
0           L. Messi         94  Candidato
1  Cristiano Ronaldo         94  Candidato
2          Neymar Jr         93  Candidato
3             De Gea         93  Candidato
4       K. De Bruyne         92  Candidato